@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
    @apply mx-auto w-[95%];
}

.leftImg img,
.rightImg img {
    /* color: #008a5c; */
    @apply object-cover h-full w-full;
}

@layer components {
    .card {
        background-color: theme("colors.white");
        border-radius: theme("borderRadius.lg");
        box-shadow: theme("boxShadow.2xl");
        padding: theme("spacing.4");
    }
    /* ... */
}

/* .text-link-500 {
    position: relative;
}

.text-link-500::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    @apply bg-link-500;
    transform: scale(0);
}

.text-link-500:hover::before {
    transform: scale(1);
} */
